{% extends "document_manager/main.html" %}

{% block content %}
{% csrf_token %}
{% for doc in docs %}
<div class="row book">
    <div class="col-md-8">
        <div class="about_doc">
            <a class="title" href="">{{ doc.title }}</a>
            <h3>Author(s): {{ doc.publisher}}</h3>
        </div>
    </div>

    <div class="col-md-4">
        <div class="about_doc">
            <h2 class="choose_button">Book</h2>/*здесь должен быть тип документа*/
        </div>
    </div>
</div>
<!--	<p class="col-md-6">{{ doc.id }}</p>  {{ item.blog.url }}   -->
{% endfor %}

{% endblock %}
