<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styleAuth.css' %}">
</head>
<body>
<div class="win"></div>
<div class="col">
    {% block content %}
    {% endblock %}
</div>
</div>
</body>
</html>
