<!DOCTYPE html>
<html>
    <head>
        <link href="../css/bootstrap.css" rel="stylesheet"> 
        <link  href="../css/styleAuth.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="win"></div>
        
        <div class="container">
        <div class="row">
        <div class="col-md-5">
        <form class="aut">
            <p>Log in / <a href="reg.html" class="sing_in">Sing in</a></p>
            <div>
                <input class="v1" type="text" name="username" id="name" placeholder="Card number">
            </div>
            <div>
                <input class="val" type="password" name="pass" id="pwd" placeholder="Password">
            </div>
            <div>
                <input type="submit" value="Log in" class="sub">
            </div>    
        </form> 
        </div>
            </div> 
        </div>
    </body>    
</html>