<!DOCTYPE html>
<html>
    <head>
        <link href="../css/bootstrap.css" rel="stylesheet"> 
        <link href="../css/styleAuth.css" rel="stylesheet">
    </head>    
    <body>
        <div class="win"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <form class="aut">
            <p>Create an account</p>
            <div>
                <input class="val"  type="text" name="username" id="name" placeholder="Username">
            </div>
            <div>
                <input class="val" type="text" name="address" id="adrss" placeholder="Address">
            </div>
             <div>
                <input class="val" type="tel" name="phone" id="pnumber" placeholder="Phone number">
            </div>
            <div>
                <input class="val" type="password" name="pass" id="pwd" placeholder="Password">
            </div>
            <div>
                <input class="val" type="password" name="pass" id="pwd" placeholder="Repeat your Password">
            </div>   
            
            <div>
                <input class="sub" type="submit" value="Sign Up">
            </div>   
        </form>
        </div>    
            </div></div>
    </body>
</html>    