<!DOCTYPE html>
<html>
    <head>
         <link href="../css/bootstrap.css" rel="stylesheet"> 
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
       <div class="w"></div>
        
        <div class="container">
            <div class="row">
                <div class="col-md-3"> 
                    <div class="menu">
                        <div class="main_information">
                            <p class="im"><img class="user" src="../css/user.png"></p>
                            <div class="information">
                                <div class="inf name">Anastasia</div>
                                <div class="inf">student</div>
                                <div class="inf">908909</div>
                            </div>
                        </div> 
                        <ul>
                
                            <li><a href="account.html">Account</a></li>
                <li ><a href="book.html">Booking</a></li>
                <li class="current"><a href="document.html">Checking out</a></li>
                <li><a href="../reg/auth.html">Logout</a></li>
                        </ul>    
                    </div>  </div>
                    
                    
                <div class="col-md-9">  
                    <div class="header"><p>CHECKING OUT</p></div>
                    <div class="container">
                        <div class="row">
        <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div>  
                            
          <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div> 
                            
                              <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div> 
                            
            <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div> 
                            
        <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div> 
                            
                              <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div>                        <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div> 
                            
                              <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div> 
                            
                              <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div>                        <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div> 
                            
                              <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div> 
                            
                              <div class="col-md-6 ">
            <div class="half">
            <div class="inf_b">
            <h2><a>Introduction to Algorithms</a></h2>
            <h3>by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein</h3>
            <h3>21.02.2014 - 6.08.2017</h3>    
            </div>
            <a href="" class="choose_button">Renew</a>
            </div>
        </div> 
      
         
             
                        </div>
                    </div>
                 </div> 
                        
                
            </div>    
        </div>    
    
    </body>    
</html>    