<!DOCTYPE html>
<html>
<head>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="w"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="menu">
                <div></div>
                <div class="main_information">
                    <p class="im"><img class="user" src="../css/user.png"></p>
                    <div class="information">
                        <div class="inf name">Anastasia</div>
                        <div class="inf">student</div>
                        <div class="inf">908909</div>
                    </div>
                </div>
                <ul class="">

                    <li class="current"><a href="">Account</a></li>
                    <li><a href="book.html">Booking</a></li>
                    <li><a href="document.html">Checking out</a></li>
                    <li><a href="../reg/auth.html">Logout</a></li>
                </ul>
            </div>
        </div>


        <div class="col-md-9">
            <div class="header"><p>ACCOUNT</p></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left">
                            <div class="pop">
                                <p>Fines: 25</p>
                                <table class="post_type_fine">
                                    <tr>
                                        <td>Go to Statement Considered Harmful</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Go to Statement Considered Harmful</td>
                                        <td>15</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="white_box my_account">
                                <p>Personal information</p>

                                <ul>
                                    <li><p>Username: Anastasia</p></li>
                                    <li><p>Card number: 453443454544</p></li>
                                    <li><p>Address: Address</p></li>
                                    <li><p>Phone number: 89343434343</p></li>
                                    <li><p>User type: Student</p></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>    